@page "/"

<PageTitle>Index</PageTitle>

<div class="min-vh-100 d-flex align-items-center justify-content-center">
  <div>
    <h1>Bem vindo ao DashBoard LoRa Mesh</h1>
    <h2>Utilize a barra lateral para começar a utilizar</h2>
  </div>
</div>
